<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
[
    <!ENTITY ogema-version "2.1.3">
	<!ENTITY widgets-version "2.1.3">
        <!ENTITY fendodb-version "0.0.1">
	<!ENTITY slf4j-version "1.7.25">
	<!ENTITY jackson-version "2.9.0">
	<!ENTITY com.sun.mail-version "1.5.6">
	
]>
<configuration xmlns="http://www.ogema-source.net/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ogema-source.net/config https://www.ogema-source.net/config-1.2.1.xsd">
 
   <!--  Note the different licenses for different framework bundles -->
  
	<frameworkbundle dir="bin/system" groupId="org.apache.felix" artifactId="org.apache.felix.framework" version="5.6.10" />
   	<!-- <frameworkbundle dir="bin/system" groupId="org.eclipse.tycho" artifactId="org.eclipse.osgi" version="3.13.0.v20171204-1916" />-->
   
    <bundles>
        <bundle dir="bin/system" groupId="org.apache.felix" artifactId="org.apache.felix.framework.security" version="2.6.0" startLevel="1" />
        <bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="permission-admin" version="&ogema-version;" startLevel="1" />

<!--	<bundle dir="bin/osgi" groupId="org.osgi" artifactId="org.osgi.compendium" version="5.0.0" /> -->
		<bundle dir="bin/osgi" groupId="org.apache.felix" artifactId="org.apache.felix.scr" version="2.0.12" startLevel="2" /> <!-- 1.8.2 or 2.0.12 -->
		<bundle dir="bin/osgi" groupId="org.apache.felix" artifactId="org.apache.felix.configadmin" version="1.8.14" startLevel="2" /><!-- 1.6.0 or 1.8.14 -->
		<bundle dir="bin/osgi" groupId="org.apache.felix" artifactId="org.apache.felix.metatype" version="1.1.2" startLevel="2" />

	 	<bundle dir="bin/osgi" groupId="org.osgi" artifactId="org.osgi.service.useradmin" version="1.1.0" />
 		<bundle dir="bin/osgi" groupId="org.ogema.external" artifactId="org.apache.felix.useradmin" version="1.0.3" startLevel="2" />
		<bundle dir="bin/osgi" groupId="org.ogema.external" artifactId="org.apache.felix.useradmin.filestore" version="1.0.2" startLevel="2" />
				<bundle dir="bin/osgi" groupId="org.apache.felix" artifactId="org.apache.felix.fileinstall" version="3.6.0" startLevel="2" />
		<bundle dir="bin/osgi" groupId="org.apache.felix" artifactId="org.apache.felix.http.servlet-api" version="1.1.2" startLevel="2" />

		<bundle dir="bin/osgi" groupId="org.apache.felix" artifactId="org.apache.felix.eventadmin" version="1.4.8" startLevel="2" />
		<bundle dir="bin/osgi" groupId="org.apache.felix" artifactId="org.apache.felix.gogo.runtime" version="1.0.10" startLevel="2" /> <!-- 0.16.2 -->
		<bundle dir="bin/osgi" groupId="org.apache.felix" artifactId="org.apache.felix.gogo.command" version="1.0.2" startLevel="2" /> <!-- 0.16.0 -->
		<!-- <bundle dir="bin/osgi" groupId="org.apache.felix" artifactId="org.apache.felix.gogo.shell" version="1.0.0" startLevel="2" /> --><!-- 0.12.0 -->
		<!-- <bundle dir="bin/osgi" groupId="org.apache.felix" artifactId="org.apache.felix.shell.remote" version="1.2.0" startLevel="2" />-->
		<!-- use alternatively to gogo shell -->
	 	<bundle dir="bin/osgi" groupId="org.jline" artifactId="jline" version="3.6.1" startLevel="2" />
		<bundle dir="bin/osgi" groupId="org.apache.felix" artifactId="org.apache.felix.gogo.jline" version="1.0.10" startLevel="3" /> 


		<!-- Jetty web server -->
		<bundle dir="bin/osgi" groupId="org.apache.felix" artifactId="org.apache.felix.http.jetty" version="3.4.8" startLevel="3" /> <!-- 3.0.2; 3.1.6; 3.4.8 (Java 8) -->
		<bundle dir="bin/osgi" groupId="org.eclipse.jetty" artifactId="jetty-servlets" version="9.3.22.v20171030" startLevel="3" />	<!-- none; 9.2.14.v20151106; 9.3.22.v20171030 (Java 8)-->
		<!--
			the following two bundles are required only for jetty version 3.0.2 and below; instead of jetty-servlets
		-->
<!--	<bundle dir="bin/osgi" groupId="org.apache.felix" artifactId="org.apache.felix.http.api" version="2.3.2" startLevel="3" />
		<bundle dir="bin/osgi" groupId="org.apache.felix" artifactId="org.apache.felix.http.whiteboard" version="2.3.2" startLevel="3" />
-->

        <!-- logging bundles, the SLF4J implemenation is provided by ogema-logger (via logback) do not install additional slfj4 implementations (like slf4j-simple)! -->
		<bundle dir="bin/logging" groupId="org.slf4j" artifactId="slf4j-api" version="&slf4j-version;" startLevel="1"/>
		<bundle dir="bin/logging" groupId="org.slf4j" artifactId="osgi-over-slf4j" version="&slf4j-version;" startLevel="1"/>
		<bundle dir="bin/logging" groupId="org.slf4j" artifactId="log4j-over-slf4j" version="&slf4j-version;" startLevel="1"/>
		<bundle dir="bin/logging" groupId="org.slf4j" artifactId="jul-to-slf4j" version="&slf4j-version;" startLevel="1"/>
		<bundle dir="bin/logging" groupId="org.slf4j" artifactId="jcl-over-slf4j" version="&slf4j-version;" startLevel="1"/>

		<!-- Commons bundles -->
		<bundle dir="bin/commons" groupId="commons-fileupload" artifactId="commons-fileupload" version="1.3.3" startLevel="3" />
		<bundle dir="bin/commons" groupId="commons-io" artifactId="commons-io" version="2.6" startLevel="3" />
		<bundle dir="bin/commons" groupId="commons-codec" artifactId="commons-codec" version="1.10" startLevel="3" />
		<bundle dir="bin/commons" groupId="org.apache.commons" artifactId="commons-lang3" version="3.6" start="true" startLevel="3" />
		<!-- Further common dependencies -->
		<bundle dir="bin/commons" groupId="com.google.guava" artifactId="guava" version="23.0" startLevel="3" /> <!-- versions 19-23 supported; >= 21 requires Java 8 -->
		<bundle dir="bin/commons" groupId="joda-time" artifactId="joda-time" version="2.9.9" startLevel="1" />  <!-- not required any more by framework; some Widgets still use this -->
		<bundle dir="bin/commons" groupId="org.json" artifactId="json" version="20170516" startLevel="3" /><!-- 20160212, 20170516 -->

        <!-- felix web console (optional) -->
		<bundle dir="bin/felix-webconsole" groupId="org.apache.felix" artifactId="org.apache.felix.webconsole" version="4.3.4" startLevel="3"/>
		<bundle dir="bin/felix-webconsole" groupId="org.apache.felix" artifactId="org.apache.felix.webconsole.plugins.ds" version="2.0.6" startLevel="3"/>
		<bundle dir="bin/felix-webconsole" groupId="org.apache.felix" artifactId="org.apache.felix.webconsole.plugins.obr" version="1.0.4" startLevel="3"/>
		<bundle dir="bin/felix-webconsole" groupId="org.apache.felix" artifactId="org.apache.felix.webconsole.plugins.memoryusage" version="1.0.6" startLevel="3"/>
 		<bundle dir="bin/felix-webconsole" groupId="org.apache.felix" artifactId="org.apache.felix.webconsole.plugins.event" version="1.1.6" startLevel="3"/>
		<bundle dir="bin/felix-webconsole" groupId="org.apache.felix" artifactId="org.apache.felix.inventory" version="1.0.4" startLevel="3"/>
<!--   	<bundle dir="bin/felix-webconsole" groupId="org.apache.felix" artifactId="org.apache.felix.shell" version="1.4.3" startLevel="3"/> -->
        <!-- jackson JSON mapper used by OGEMA serialization manager -->
		<bundle dir="bin/jackson" groupId="com.fasterxml.jackson.core" artifactId="jackson-core" version="&jackson-version;" startLevel="10"/>
		<bundle dir="bin/jackson" groupId="com.fasterxml.jackson.core" artifactId="jackson-annotations" version="&jackson-version;" startLevel="10" />
		<bundle dir="bin/jackson" groupId="com.fasterxml.jackson.core" artifactId="jackson-databind" version="&jackson-version;" startLevel="10"/>
		<bundle dir="bin/jackson" groupId="com.fasterxml.jackson.module" artifactId="jackson-module-jaxb-annotations" version="&jackson-version;"  startLevel="10"/>

		<!-- OGEMA Framework and direct dependencies -->
		<bundle dir="bin/ogema" groupId="org.ow2.asm" artifactId="asm-all" version="5.2" startLevel="10"/>
		<bundle dir="bin/ogema" groupId="org.ogema.core" artifactId="api" version="&ogema-version;" startLevel="10" />
		<bundle dir="bin/ogema" groupId="org.ogema.core" artifactId="models" version="&ogema-version;" startLevel="10" />
		<!-- implementation -->
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="internal-api" version="&ogema-version;" startLevel="11" />
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="administration" version="&ogema-version;" startLevel="12" />
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="app-manager" version="&ogema-version;" startLevel="12"/>
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="channel-manager" version="&ogema-version;" startLevel="12"/>
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="hardware-manager" version="&ogema-version;" startLevel="12"/>
		<bundle dir="bin/ogema" groupId="org.ogema.tools" artifactId="memory-timeseries" version="&ogema-version;" startLevel="12"/>
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="non-secure-apploader" version="&ogema-version;" startLevel="12"/>	
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="ogema-logger" version="&ogema-version;" startLevel="1" />		
	 	<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="ogema-security-manager" version="&ogema-version;" startLevel="1"/>
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="persistence" version="&ogema-version;" startLevel="12"/>
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="resource-manager" version="&ogema-version;" startLevel="12"/>
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="resource-access-advanced" version="&ogema-version;" startLevel="12"/>
                <!-- replaced by fendodb -->
		<!--<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="recordeddata-slotsdb" version="&ogema-version;" startLevel="12"/>-->
		<!-- These bundles will be started from the init folder -->
		<!--
		<bundle dir="bin/fendodb" groupId="org.smartrplace.logging" artifactId="fendodb-core" version="&fendodb-version;" startLevel="12"/>
		<bundle dir="bin/fendodb" groupId="org.smartrplace.logging" artifactId="fendodb-tools" version="&fendodb-version;" startLevel="12"/>
		<bundle dir="bin/fendodb" groupId="org.smartrplace.logging" artifactId="fendodb-viz" version="&fendodb-version;" startLevel="12"/>
		<bundle dir="bin/fendodb" groupId="org.smartrplace.logging" artifactId="fendodb-recordeddata-wrapper" version="&fendodb-version;" startLevel="12"/>
		<bundle dir="bin/fendodb" groupId="org.smartrplace.logging" artifactId="fendodb-ogema-admin" version="&fendodb-version;" startLevel="12"/>
		<bundle dir="bin/fendodb" groupId="org.smartrplace.logging" artifactId="fendodb-ogema-tagging" version="&fendodb-version;" startLevel="12"/>
		<bundle dir="bin/fendodb" groupId="org.smartrplace.logging" artifactId="fendodb-rest" version="&fendodb-version;" startLevel="12"/>
		-->
		<bundle dir="bin/commons" groupId="org.apache.commons" artifactId="commons-csv" version="1.5" startLevel="3"/>

		<bundle dir="bin/ogema" groupId="org.ogema.tools" artifactId="resource-manipulators" version="&ogema-version;" startLevel="12"/>
		<bundle dir="bin/ogema" groupId="org.ogema.tools" artifactId="resource-utils" version="&ogema-version;" startLevel="12"/>
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="rest" version="&ogema-version;" startLevel="13"/>
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="security" version="&ogema-version;" startLevel="12"/>  
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="util" version="&ogema-version;" startLevel="12"/>
		
		<!-- start level 13 - framework GUIs -->
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="framework-gui" version="&ogema-version;" startLevel="13"/>
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="framework-administration" version="&ogema-version;" startLevel="13"/>
		<bundle dir="bin/ogema" groupId="org.ogema.ref-impl" artifactId="security-gui" version="&ogema-version;" startLevel="13"/>
		
		<!-- useful things -->
		<!-- groovy: needs package sun.reflect in org.osgi.framework.system.packages.extra -->
		<bundle dir="bin/tools" groupId="org.codehaus.groovy" artifactId="groovy-all" version="2.4.12" startLevel="11"/>
		<bundle dir="bin/tools" groupId="org.ogema.tools" artifactId="ogema-console-scripting" version="&ogema-version;" startLevel="11"/>		
		
	<!-- Widgets framework -->
               
		<bundle dir="bin/widgets" groupId="de.iwes.widgets" artifactId="ogema-gui-api" version="&widgets-version;" startLevel="14" />
		<bundle dir="bin/widgets" groupId="de.iwes.widgets" artifactId="ogema-js-bundle" version="&widgets-version;" startLevel="14" />
		<bundle dir="bin/widgets" groupId="de.iwes.widgets" artifactId="widget-collection" version="&widgets-version;" startLevel="14" />
		<bundle dir="bin/widgets" groupId="de.iwes.widgets" artifactId="widget-extended" version="&widgets-version;" startLevel="14" />
		<bundle dir="bin/widgets" groupId="de.iwes.widgets" artifactId="widget-experimental" version="&widgets-version;" startLevel="14"/>
		<bundle dir="bin/widgets" groupId="de.iwes.widgets" artifactId="icon-service-impl" version="&widgets-version;" startLevel="14" />
		<bundle dir="bin/widgets" groupId="de.iwes.widgets" artifactId="name-service-impl" version="&widgets-version;" startLevel="14" />
		
		<!-- Messaging -->

 		<bundle dir="bin/messaging" groupId="org.ogema.messaging" artifactId="messaging-test" version="&widgets-version;" startLevel="16"/>
 		<bundle dir="bin/messaging" groupId="org.ogema.messaging" artifactId="message-reader" version="&widgets-version;" startLevel="16"/>
		<bundle dir="bin/messaging" groupId="org.ogema.messaging" artifactId="message-forwarding" version="&widgets-version;" startLevel="16"/>
		<bundle dir="bin/messaging" groupId="org.ogema.messaging" artifactId="message-settings" version="&widgets-version;" startLevel="16"/>
  		<bundle dir="bin/messaging" groupId="org.ogema.messaging" artifactId="email-connector" version="&widgets-version;" startLevel="16"/>
 		<bundle dir="bin/messaging" groupId="org.ogema.messaging" artifactId="email-to-sms-connector" version="&widgets-version;" startLevel="16"/>
 		<bundle dir="bin/messaging" groupId="org.ogema.messaging" artifactId="xmpp-connector" version="&widgets-version;" startLevel="16"/>
 		<!-- dependencies -->
   		<bundle dir="bin/messaging" groupId="javax.mail" artifactId="javax.mail-api" version="&com.sun.mail-version;" startLevel="16"/>
   		<bundle dir="bin/messaging" groupId="com.sun.mail" artifactId="mailapi" version="&com.sun.mail-version;" startLevel="16"/>
   		<bundle dir="bin/messaging" groupId="com.sun.mail" artifactId="smtp" version="&com.sun.mail-version;" startLevel="16"/>
   		<bundle dir="bin/messaging" groupId="com.sun.mail" artifactId="imap" version="&com.sun.mail-version;" startLevel="16"/>
   		<bundle dir="bin/messaging" groupId="com.sun.mail" artifactId="pop3" version="&com.sun.mail-version;" startLevel="16"/>
   		<bundle dir="bin/messaging" groupId="com.sun.mail" artifactId="dsn" version="&com.sun.mail-version;" startLevel="16"/>
   		<bundle dir="bin/messaging" groupId="org.apache.servicemix.bundles" artifactId="org.apache.servicemix.bundles.smack" version="3.2.1_1" startLevel="16"/>

		<!-- tools -->
                <bundle dir="bin/tools" groupId="org.ogema.apps" artifactId="common-services" version="&ogema-version;" startLevel="18"/>
		<bundle dir="bin/tools" groupId="org.ogema.apps" artifactId="device-configurator" version="&ogema-version;" startLevel="18"/>
		<bundle dir="bin/tools" groupId="org.ogema.tools" artifactId="grafana-base" version="&ogema-version;" startLevel="18"/>
		<bundle dir="bin/tools" groupId="org.ogema.apps" artifactId="grafana-logging" version="&ogema-version;" startLevel="18"/>
                <bundle dir="bin/tools" groupId="org.ogema.apps" artifactId="graph-generator" version="&ogema-version;" startLevel="18"/>
		<bundle dir="bin/tools" groupId="org.ogema.apps" artifactId="grafana-schedule-viewer" version="&ogema-version;" startLevel="18"/> <!-- deprecated -->
                <bundle dir="bin/tools" groupId="org.ogema.apps" artifactId="logging-app" version="&ogema-version;" startLevel="18"/>
		<bundle dir="bin/tools" groupId="org.ogema.tools" artifactId="pattern-debugger" version="&ogema-version;" startLevel="18"/>
		<bundle dir="bin/tools" groupId="de.iwes.tools" artifactId="resource-tree-manipulator" version="&widgets-version;" startLevel="20"/>
		<bundle dir="bin/tools" groupId="de.iwes.tools" artifactId="schedule-viewer-basic" version="&widgets-version;" startLevel="20"/> 
		
		<bundle dir="bin/apps" groupId="de.iwes.tools" artifactId="standard-patterns" version="&widgets-version;" startLevel="23" /> 
		<bundle dir="bin/http" groupId="org.apache.httpcomponents" artifactId="httpcore-osgi" version="4.4.4" startLevel="20"/>
		<bundle dir="bin/http" groupId="org.apache.httpcomponents" artifactId="httpclient-osgi" version="4.5.2" startLevel="20"/>
		       
		<!-- OGEMA drivers -->
		<!-- Channel mapper: a generic high-level driver -->
		<bundle dir="bin/drivers" groupId="org.ogema.drivers" artifactId="channel-mapper-v2" version="&ogema-version;" startLevel="25" />
		<bundle dir="bin/drivers" groupId="de.iwes.widgets" artifactId="channel-mapper-vis" version="&ogema-version;" startLevel="25"/>
	
		<!-- Modbus version A -->
		<bundle dir="bin/drivers" groupId="org.ogema.external" artifactId="rxtx" version="&ogema-version;" startLevel="25" />
		<bundle dir="bin/drivers" groupId="org.ogema.external" artifactId="com.ghgande.j2mod" version="2.3.0" startLevel="25"/>
		<bundle dir="bin/drivers" groupId="org.ogema.drivers" artifactId="modbus-combined" version="&ogema-version;" startLevel="25" />
		
		<bundle dir="bin/drivers" groupId="org.ogema.drivers" artifactId="knx" version="&ogema-version;" startLevel="25" />
		<bundle dir="bin/drivers" groupId="org.ogema.drivers" artifactId="knx-js-gui" version="&ogema-version;" startLevel="25" />

		<!-- xbee: additional dependencies in bin/ext (jssc,gnu.io) -->
		<bundle dir="bin/drivers" groupId="org.ogema.drivers" artifactId="xbee" version="&ogema-version;" startLevel="25" />
		<bundle dir="bin/drivers" groupId="org.ogema.drivers" artifactId="generic-xbee-zb" version="&ogema-version;" startLevel="25" />
		<bundle dir="bin/drivers" groupId="org.ogema.drivers" artifactId="generic-zb" version="&ogema-version;" startLevel="25" />

		<!-- homematic: additional dependencies in bin/ext (org.usb4java.*) -->
		<bundle dir="bin/drivers" groupId="org.ogema.drivers" artifactId="homematic" version="&ogema-version;" startLevel="25" />
		<bundle dir="bin/drivers" groupId="org.ogema.drivers" artifactId="hm-hl" version="&ogema-version;" startLevel="25" />
		
		<!-- homematic XML-RPC (requires an elder version of httpclient) -->
		<bundle dir="bin/drivers" groupId="org.apache.servicemix.bundles" artifactId="org.apache.servicemix.bundles.commons-httpclient" version="3.1_7" startLevel="25" />
		<bundle dir="bin/drivers" groupId="org.ogema.drivers" artifactId="homematic-xmlrpc-ll" version="&ogema-version;" startLevel="25" />
		<bundle dir="bin/drivers" groupId="org.ogema.drivers" artifactId="homematic-xmlrpc-hl" version="&ogema-version;" startLevel="25" />
		
		<!-- Z-Wave: additional dependencies in bin/ext (zwave4j) -->
	    <bundle dir="bin/drivers" groupId="org.ogema.drivers" artifactId="zwave" version="&ogema-version;" startLevel="25" />
		<bundle dir="bin/drivers" groupId="org.ogema.drivers" artifactId="zwave-hl" version="&ogema-version;" startLevel="25" />

		<!-- Remote REST connector and dependencies -->
		<bundle dir="bin/drivers" groupId="org.ogema.drivers" artifactId="remote-rest-connector" version="&ogema-version;" startLevel="25" />
		
		<!-- OpenWeatherMap connector -->
		<bundle dir="bin/drivers" groupId="org.ogema.drivers" artifactId="openweathermap-connector" version="&ogema-version;" startLevel="25" />
		
 		<!-- OGEMA Applications -->
		<bundle dir="bin/tools" groupId="de.iwes.tools" artifactId="system-supervision" version="&widgets-version;" startLevel="30"/>
		<bundle dir="bin/tools" groupId="de.iwes.tools" artifactId="system-supervision-gui" version="&widgets-version;" startLevel="30"/>
		<bundle dir="bin/tools" groupId="org.ogema.apps" artifactId="basic-switch-gui" version="&ogema-version;" startLevel="30"/>

       </bundles>

    <properties>
        <property key="org.osgi.framework.system.packages.extra" 
        value="org.usb4java,javax.usb,javax.annotation,javax.usb.event,jssc,org.zwave4j" />
        <property key="org.osgi.framework.bsnversion" value="multiple" />

        <!-- property key="org.osgi.framework.security" value="osgi" / -->

        <property key="eclipse.ignoreApp" value="true" />
        <property key="osgi.console" value="" />
        <property key="felix.log.level" value="info" />
        <property key="ds.showtrace" value="false" />

    	<!-- standard: 64362 -->
        <property key="osgi.shell.telnet.port" value="64362" />
    	<!-- standard: 8080, first on server uses 8084 -->
        <property key="org.osgi.service.http.port" value="8080" />
    	<!-- standard: 8443 -->
        <property key="org.osgi.service.http.port.secure" value="8443" />
        <property key="org.osgi.service.http.secure.enabled" value="true" />

        <property key="org.apache.felix.http.debug" value="false" />
        <property key="org.apache.felix.https.enable" value="true" />
        <property key="org.apache.felix.https.keystore" value="config/keystore" />
        <property key="org.apache.felix.https.keystore.password" value="ogemamns" />
        <property key="org.apache.felix.https.keystore.key.password" value="ogemamns" />

        <property key="org.ops4j.pax.web.ssl.keystore" value="myOgemaKeystore" />
        <property key="org.ops4j.pax.web.ssl.password" value="ogemamns" />
        <property key="org.ops4j.pax.web.ssl.keypassword" value="ogemamns" />

        <property key="felix.fileinstall.log.level" value="-1" />
    </properties>

    <!-- List of files and directories to delete in case of a clean start -->
    <deleteList>
        <file>data/osgi-storage</file>
        <file>data/resources</file>
        <file>data/logs</file>
        <file>data/slotsdb</file>
    </deleteList>
</configuration>
